*.pyc
.DS_Store
species/_version.py
docs/_build
docs/tutorials/species_config.ini
docs/tutorials/species_database.hdf5
docs/tutorials/retrieval.tgz
docs/tutorials/*.png
docs/tutorials/*.jpg
docs/tutorials/*.json
docs/tutorials/*.fits
docs/tutorials/*.dat
docs/tutorials/data/*
docs/tutorials/multinest/*
docs/tutorials/ultranest/*
docs/tutorials/dynesty/*
docs/tutorials/.ipynb_checkpoints/*
build/
dist/
species.egg-info/
.coverage*
coverage.xml
.pytest_cache/
htmlcov/
.tox/
