*.pyc
.DS_Store
docs/_build
docs/tutorials/species_config.ini
docs/tutorials/species_database.hdf5
docs/tutorials/*.png
docs/tutorials/data/*
docs/tutorials/.ipynb_checkpoints/*
build/
dist/
species.egg-info/
.coverage
.pytest_cache/
htmlcov/
coverage.xml
.tox/
