astropy ~= 4.1.0
astroquery ~= 0.4.0
corner ~= 2.1.0
cython ~= 0.29.0
emcee ~= 3.0.0
h5py ~= 2.10.0
matplotlib ~= 3.3.0
numpy ~= 1.19.0
pandas ~= 1.1.0
PyMieScatt ~= 1.8.0
pymultinest ~= 2.9.0
scipy ~= 1.5.0
spectres ~= 2.1.0
tqdm ~= 4.56.0
typeguard ~= 2.10.0
ultranest ~= 3.2.0
xlrd ~= 1.2.0
