astropy ~= 4.0
astroquery ~= 0.4
corner ~= 2.0
emcee ~= 3.0
h5py ~= 2.10
matplotlib ~= 3.2
numpy ~= 1.18
pandas ~= 1.0
PyMieScatt ~= 1.7
pymultinest ~= 2.9
scipy ~= 1.4
spectres ~= 2.1
tqdm ~= 4.46
typeguard ~= 2.7
xlrd ~= 1.2
